@font-face {
    font-family: 'Renogare';
    src: url('assets/Renogare-Regular.woff2') format('woff2'),
        url('assets/Renogare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 50%;
}
p{
  color: #FF7BB9;
   text-align: center;
      font-family: "IBM Plex Mono", "Courier New", monospace;
}
body{
  background-color: #0c0611;
  color:#c29eb6;
}
h1 {

  color: #DE408A;
   text-align: center;
  font-family: 'Renogare'
}
ul {
    color: #BF4B89;
    list-style-type: square;
    text-align: center;
    font-family: "IBM Plex Mono", "Courier New", monospace;
    font-weight: bold;
    display: block;
    margin: auto;
}
a:link, a:visited {
  background-color: #1c1621;
  color: #eed8e5;
  border: 2px #42324C;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "IBM Plex Mono", "Courier New", monospace;
  font-weight: bold;
}

a:hover, a:active {
  background-color:#2c2631;
  color:#eed8e5;
  font-family: "IBM Plex Mono", "Courier New", monospace;
  font-weight: bold;
}
div {
  width:50%;
  margin:auto;
  text-align: center;
}
button {
background-color: #1c1621;
  color: #eed8e5;
  border: 2px #42324C;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "IBM Plex Mono", "Courier New", monospace;
  font-weight: bold;
}
