@font-face {
    font-family: 'Renogare';
    src: url('assets/Renogare-Regular.woff2') format('woff2'),
        url('assets/Renogare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
img {
    display: block;
    margin: 50px auto;
    height: 50%;
    width: 50%;
    border-radius: 10%;

}
p {
    display: block;
    color: #FF7BB9;
    text-align: center;
    font-family: "IBM Plex Mono", "Courier New", monospace;
    margin-top: 50px;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 0.9vw;
}
body {
  background-color: #0c0611;
  color:#c29eb6;
}
h1 {
    font-size: 3vw;
    color: #DE408A;
    text-align: center;
    font-family: 'Renogare', sans-serif;
}
h2 {

  color: #DE488A;
   text-align: center;
  font-family: 'Renogare', sans-serif;
}
h3 {

  color: #CE307A;
   text-align: center;
  font-family: 'Renogare', sans-serif;
}
ul {
    color: #BF4B89;
    list-style-type: square;
    text-align: center;
    font-family: "IBM Plex Mono", "Courier New", monospace;
    font-weight: bold;
    display: block;
    margin: auto;
}
a:link, a:visited {
    background-color: #1c1621;
    color: #eed8e5;
    border: 2px #42324C;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    display: block;
    font-family: "IBM Plex Mono", "Courier New", monospace;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5vw;
}

a:hover, a:active {
    background-color:#2c2631;
    color:#eed8e5;
    font-family: "IBM Plex Mono", "Courier New", monospace;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5vw;
}

pre {
    color:#eed8e5;
    font-family: "IBM Plex Mono", "Courier New", monospace;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5vw;
    font-size: 0.9vw;
}
div {
  width:50%;
    margin: 1vh auto;
    text-align: center;
}

hr {
    width: 55vw;
    border: 0.4vw dotted #FF7BB9;
    margin: 5vh auto;
}

.bold-hr {
    width: 70vw;
    border-radius: 5vw;
    border: 0.7rem double #FF7BB9;
}
::-moz-selection {
  background:#4c3651;
}

::selection {
  background:#4c3651;
}

.heart:hover {
    background-color: #a85a7f;
    color: #eed8e5;
}
.flag {
    width: 40vh;
    height: 15vw;
}

.logo {
    margin-bottom: 5vh;
    margin-top: 5vh;
    scale: 0.8;
}

.back {
    margin-bottom: 5vh;
    margin-top: 0;
}